version: '3.8'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile.production
    image: voracitymajo/devops-for-developers-project-74
    working_dir: /app
    command: make test